version: '3.8'

services:

  db:
    image: postgis/postgis:15-3.3 
    container_name: leaf_prisma_db
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 


  backend:
    build: ./leaf-prisma-backend
    container_name: leaf_prisma_backend
    volumes:
      - ./leaf-prisma-backend:/app 
    env_file: .env
    depends_on:
      - db 
    ports:
      - "8000:8000"


  frontend:
    build: ./leaf-prisma-frontend
    container_name: leaf_prisma_frontend
    volumes:
      - ./leaf-prisma-frontend:/app
      - /app/node_modules 
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:8000 

volumes:
  postgres_data: